body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    height: 100px;
    margin-left: 30px;
    margin-right: 140px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f97316; /* Orange */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 12px;
}

.nav-links li a:hover {
    color: #f97316; /* Orange hover */
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    .navbar{
        margin-left: 0px;
        margin-right: 0px;
    }

}
